*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:rgba(255, 255, 255, 0.2);
    --secundary-color:rgba(17, 17, 17, 0.2);
}
body{
    max-width: 1200px;
    margin: 0 auto;
}
body.dark{
    background-color: black;
    color:white
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}
button{
    border: none;
    color:inherit;
    display: inline-block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
    display:inline-block;
    font-size: 20px;
    width: 20px;
}
.header iframe{
    height: 100vh;
    width: 100%;
    position:fixed;
    top:0;
}
.header_nav{
    height: 50px;
    width: 100%;
    background-color:rgb(141, 136, 136);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top:0;
    z-index: 50;
}
.dark .header_nav{
    background-color: rgb(48, 41, 41);
}
.nav_start,
.nav_center,
.nav_end{
    display: flex;
    align-items: center;
    gap:10px;
}
.main{
    position: relative;
    z-index: 10;
}
.section{
    height: 100vh;
    padding:60px 10px 10px;
    display:flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-between;
}
.front > * {
    text-align: center;
}
/*.about,
.skills {
    align-items: start;
    
}*/
.about iframe{
    height: 50%;
}
.hard_skills{
    position: relative;
    height: 65%;
    width: 100%;
}
.slider_skills{
    height: 90%;
    display:flex;
    justify-content: center;
}
.hard_skills button{
    background-color: var(--secundary-color);
    position: absolute;
    top:50%;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.dark .hard_skills button{
    background-color: var(--primary-color);
}
.btn_prev{
    left: 1%;
}
.btn_next{
    right: 1%;
}
.splide{
    padding:50px;
}
.splide__slide{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    gap:10px;
}
.splide__slide div{
    height: 85%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.splide__slide div > *{
    width: 80%;
    text-align: center;
}
.splide__slide figure{
    border-radius: 20px;
    overflow: hidden;
}
.education{
    justify-content: space-evenly;
}
.achievements figure{
    height: 50%;
}
.footer{
    width: 80px;
    aspect-ratio: 1;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
}
@media (min-width: 400px){
    a{
        font-size: 26px;
        width: 26px;
    }
}
@media (min-width: 850px) {
    a{
        font-size: 31px;
        width: 31px;
    }
    a:hover{
        transform: scale(1.5);
    }
    a:hover::after{
        background-color: var(--secundary-color);
        position: absolute;
        top:0;
        left: 40px;
        font-size: 16px;
        content:"texto de prueba";
        width:max-content;
        border: 1.5px solid;
        padding: 5px 10px;
        border-radius: 6px;
    }
    .header_nav a:hover::after{
        top:0;
        left: 40px
    }
    .dark a:hover::after{
        background-color: var(--primary-color);
    }
    .header_nav{
        height: 100vh;
        width: 50px;
        flex-direction: column;
    }
    .nav_start,
    .nav_center,
    .nav_end{
        flex-direction: column;
    }
    .icon_home:hover::after{
        content: "Ir Al Inicio"
    }
    .icon_about:hover::after{
        content: "Sobre Mi"
    }
    .icon_skills:hover::after{
        content: "Habilidades"
    }
    .icon_projects:hover::after{
        content: "Proyectos"
    }
    .icon_education:hover::after{
        content: "Educacion"
    }
    .icon_achievements:hover::after{
        content: "Logros Destacados"
    }
    .icon_cv:hover::after{
        content: "Descarga Mi CV"
    }
    .icon_lenguage:hover::after{
        content: "Cambia El Idioma"
    }
    .icon_volume:hover::after{
        content: "Encender/Apagar Sonido"
    }
    .icon_mode:hover::after{
        content: "Modo Noche/Dia"
    }

    .section{
        padding: 50px 50px 50px 100px;
        display: grid;
    }
    .front{
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(3 1fr);
        align-items: center;
    }
    .front h1{
        grid-column: span 2;
    }
    .front h2{
        grid-column: 1;
        grid-row: 2;
        text-align: left;
    }
    .front p{
        grid-column: 1;
        grid-row: 3;
        text-align: left;
        align-self: self-start;
        text-align: center;
        padding: 5%;
    }
    .front figure{
        grid-column: 2;
        grid-row: 2/span 2;
    }
    .about{
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(2 1fr 4fr);
        align-items: center;
    }
    .about h2{
        grid-column: span 2;
    }
    .about p{
        grid-column: 1;
        grid-row: 2;
    }
    .about h3{
        grid-column: 1;
        grid-row: 3;
    }
    .about ul{
        grid-column: 1;
        grid-row: 4;
    }
    .about iframe{
        grid-column: 2;
        grid-row: 2/span 3;
        width: 100%;
        height: 100%;
    }
    .skills{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        align-items: center;
    }
    .skills h2{
        grid-column: span 2;
    }
    .skills article{
        width: 100%;
    }
    .soft_skills{
        grid-column: 1;
        grid-row: 2 ;
        display:flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }
    .soft_skills li{
        margin: 10px 0;
        text-align: center;
    }
    .hard_skills{
        grid-column: 2;
        grid-row: 2 / span 2;
        display:flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        height: 60%;
    }
    .projects{
        grid-template-columns:1fr;
        grid-template-rows:1fr 5fr;
    }
    .splide__slide{
        flex-direction:row;  
    }
    .education{
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(1 1fr 5fr);
        align-items: center;
    }
    .education h2{
        grid-column: span 2;
        align-self: self-end;
    }
    .education article{
        display: flex;
        flex-direction: column;
        gap:50px;
    }
    .education li{
        margin:10px 0;
    }
    .achievements{
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(1 1fr 5fr);
        align-items: center;
    }
    .achievements h2{
        grid-column: span 2;
        align-self: self-end;
    }
    .achievements figure{
        justify-self: center;
    }

}